<!doctype html>
<html lang="en" >
{% load static %}

{% include 'serviceApp/includes/header.html'%}

  <body >

{% include 'serviceApp/includes/navbar.html' %}






<div class="servicessh1" id="servicess" style="top:70px;margin-bottom:30px">
    <!-- here is the block for each service view-->
    <!-- Please check the style of div -->
    {% block service_content%}
    {%endblock service_content%}
</div>

<div class="section about-2 padding-0" style="margin-top:150px;margin-bottom:30px" id="about">
 {% include 'serviceApp/includes/aboutus.html' %}
</div>
<section class="section about-2 padding-0 downloadWorld1"  id="download">
{% include 'serviceApp/includes/download.html' %}
</section>

{% include 'serviceApp/includes/footer.html' %}

<button id="scroll-top">
  <img style="width:70px" src="{% static 'img/up-arrow.png' %}">
</button>


{% include 'serviceApp/includes/scripts.html' %}
{% block extra_script %}
  {%endblock extra_script%}
  </body>
</html>