{%load static%}
<div class="container title text-center wow fadeIn" data-wow-duration="1500ms" >
      <span class="downloadWorld"><span style="color:#0062ff">About&nbsp;</span><span>Us</span>
      <img class="img2" src="{% static 'img/about.png' %}">
      </span>
      <hr class="line container title text-center wow fadeIn">
    </div>
	<div class="container">
		<div class="row">

			<div class="col-md-6" style="margin-top:50px;margin-bottom:10px">
				<div class="content-block">
					<span class="aboutworld">We’re A Digital Design Agency.</span>
					<p class="aboutworld1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora itaque, autem dolores culpa cum mollitia voluptate nesciunt voluptatibus quasi.</p>
					<p class="aboutworld1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eveniet vel et mollitia nemo corporis sed ut, exercitationem incidunt, rerum nam doloremque quos ratione doloribus, officiis adipisci error quasi soluta?</p>
					<p class="aboutworld1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, magnam.</p>
                </div>
			</div>
            <div class="col-md-6 padding-0 ">
				<img class="img-responsive" src="{% static 'img/About us page-amico.png' %}" alt="">
			</div>
		</div>
	</div>