 {%load static%}

 <div class="container title text-center wow fadeIn" data-wow-duration="1500ms" >
      <span class="downloadWorld"> Download App
        <img class="img1" src="{% static 'img/cloud.png' %}">
      </span>
      <hr class="line container title text-center wow fadeIn">
  </div>
<div class="container">
  <div class="row">

    <div class="col-md-6" style="margin-top:50px;margin-bottom:10px">
      <div class="content-block">
        <span class="downloadWorld2">It's time to change your live !</span>
        <p class="conteent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora itaque, autem dolores culpa cum mollitia voluptate nesciunt voluptatibus quasi.</p>
              <div class="appstore">
                <div class="appstore1">
                 <a href="#"> <img class="googleplay" src="{% static 'img/images2.png' %}">
                 </a>
                </div>
                <div class="appstore2">
                  <a href="#">
                  <img class="googleplay1" src="{% static 'img/images3.png' %}">
                  </a>
                </div>
              </div>
      </div>
    </div>
          <div class="col-md-6 padding-0 ">
      <img class="img-responsive1" src="{% static 'img/undraw_Modern_design_re_dlp8.png' %}" alt="">
    </div>
  </div>
</div>