@media only screen and (max-width: 767px){
    html{
        font-size: 50%;
    }
    header{
        padding: 2.2rem 4rem;
    }
    #ham-menu{
        display: block;
        width: 30px;
        position: fixed;
        display: grid;
        background: transparent;
        right: 30px;
    }
    nav a#logo,
    #ham-menu{
        font-size: 30px;
    }
    nav ul{
        background:#fff;
        height: calc(100vh - 73.6px);
        position: fixed;
        left:-100vw;
        top: 73.6px ;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;
        -moz-transition: 1s ease-in-out;
        -ms-transition: 1s ease-in-out;
        -o-transition: 1s ease-in-out;
        gap: 0 ;
}
.sticky header{
    background: #fff;
}
nav a#logo{
    color: #0062ff;
  }
  nav ul a{
    color: #0062ff;
  }
  nav a#Download{
    color: #fff;
    background: #0062ff;
    border-color: #0062ff;
    }
nav ul.active{
    left:0;
}
nav a#Download{
    font-size: 40px;
}
nav ul a{
    font-size: 40px;
}
.img-responsive{
    width: 360px;
  }
  .downloadWorld{
    font-size: 30px;
    font-weight: 700;
      word-spacing: normal;

  }
  .img1{
    width: 50px;
  }
  .line{
    width: 70%;
  }

  .imgslide{
    width: 375px;
  }

  .downloadWorld2{
    font-size: 23px;
    font-weight: 700;
  }
  .conteent{
    font-size: 19px;
  }
  .appstore{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
  }
  .appstore1{
    width: 50px;
    height: 100px;
    margin-right: 35px;
  }
  .appstore2{
    width: 50px;
    height: 100px;
    position: relative;
  }
  .googleplay{
    position: relative;
    right: -10px;
    margin-top: 30px;
    width: 120px;
  }
  .googleplay1{
    margin-top: 30px;
    height: 40px;
    width: 120px;
  }
  #scroll-top{
    position: fixed;
    display: none;
    place-items: center;
    height: 3.5rem;
    width: 3.5rem;
    right: 5.5rem;
    bottom: 5rem;
    background: transparent;
    border: none;
    outline: none;
  }
  .aboutworld{
    font-weight: 700;
    font-size: 25px;
  }
  .aboutworld1{
    font-size: 15 zpx;
  }
}